.navbar {
    top: 0;
    z-index: 999;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    float: left;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 35px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #efefef;
}

.navbar ul li ::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #efefef;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after {
    width: 100%;
}
