@media only screen and (max-width: 767px) {
    .video-container {
        left: 0;
        width: 200%; /* Set the video width to 200% to cover the left part */
    }
    .trainbtn {
        top: 35%;
        left: 67%;
    }
    .lofibtn {
        top: 35%;
        left: 15%;
    }
    .song2btn {
        top: 10%;
        left: 40%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .video-container {
        left: 0;
        width: 175%;
    }
    .trainbtn {
        top: 35%;
        left: 67%;
    }
    .song2btn {
        top: 75%;
        left: 40%;
    }
    .lofibtn {
        top: 35%;
        left: 15%;
    }
}

@media only screen and (min-width: 1024px) {
    .trainbtn {
        top: 35%;
        left: 70%;
    }
    .song2btn {
        top: 55%;
        left: 20%;
    }
    .song3btn {
        top: 65%;
        left: 80%;
    }
    .song4btn {
        top: 15%;
        left: 30%;
    }
    .lofibtn {
        top: 35%;
        left: 15%;
    }
}
